[[headers]]
  for = "/manifest.webmanifest"
  [headers.values]
    Content-Type = "application/manifest+json"

[build]
  publish = "dist"
  command = "bun run build"

[build.environment]
  NODE_VERSION = "22"
